.exercise-card{
    border-bottom: 2px solid lightblue;
    font-size:20px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-weight font-size 1000ms ease-in-out;
}

.exercise-card-highlighted{
    font-weight:bolder;
    font-size:50px;
}

.exercise-app-container{
    position: absolute;
    z-index: -1;
    width: 100%;
    top:0;
    bottom:0;
    margin:0;
    display: grid;
    grid-template-columns: repeat(3, 24%) auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 1000px;
    background-color: rgba(65, 184, 87, .3);
    border-radius: 15px;
}

.exercises-container{
    display: flex;
    flex-direction: column;
    width:30%;
    align-items: center;
    justify-content: center;
    
}

.exercise-card:first-child{
    font-size:50px;
    font-weight:bolder;
}

.directions{
    font-size: 60px;
}


.center-button{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.to-workout-btn{
    width: 40%;
    margin-top:20px;
}

.workout-creation-body{
    position:absolute;
    top:0;
    left:0;
    margin:0px;
    width:100%;
    height:100%;
    z-index: -1;
    background-color: rgba(173, 238, 211, 0.5);
}

.p-bold{
    font-size: 24px;
    font-weight:bold;
}