.exercise-card{
    border-bottom: 2px solid lightblue;
    font-size:20px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-weight font-size 1000ms ease-in-out;
}

.exercise-card-highlighted{
    font-weight:bolder;
    font-size:50px;
}

.exercise-app-container{
    display: grid;
    grid-template-columns: repeat(3, 24%) auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 1000px;
    border: 2px solid lightblue;
}

.exercises-container{
    display: flex;
    flex-direction: column;
    width:30%;
    align-items: center;
    justify-content: center;
    
}

.exercise-card:first-child{
    font-size:50px;
    font-weight:bolder;
}

.directions{
    font-size: 60px;
}

