.workoutButtonsContainer{
    display: flex;
    flex-direction:  row;
    text-align: center;
    justify-content : center;
    align-items : center;

}


.logout-button  {
    position : absolute;
    top: 0;
    right :10px;
    margin :0;
    margin-top: 10px;
    border-radius: 50px
}