.workout-buttons-container{
    display: flex;
    flex-direction:  row;
    text-align: center;
    justify-content : center;
    align-items : center;
    border: 1px solid red;
    width:100%;
}


.workout-buttons-container button{
    max-width:20%;
}


.logout-button  {
    border-radius: 50px
}

