.divider{
    position:absolute;
    margin-left: 1%;
    width:98%;
    min-height:750px;
    background-image: linear-gradient( rgb(35, 59, 35),whitesmoke, lightgreen, green, lightgreen,green);
    display: flex;
    flex-direction: row;
    column-gap: 1px;
    overflow:hidden;
    justify-content: flex-start;
    align-items: center;
    border-radius:10px;
}

.divider-clear{
    background-image: none;
}

.divider :nth-child(6){
    padding-left:80px;
}

.bar-container{
    height: 650px;
    display:flex;
    align-items: flex-end;  
    justify-content: center;
    text-align:start;
}


.bar-line{
    position:absolute;
    height:5px;
    width: 98px;
    background-color: black;
}

.totals{
    position:absolute;
    padding-left:10px;
    font-size:18px;
}

.b1{
    bottom: 150px;
}
.b2{
    bottom: 250px;
}
.b3{
    bottom: 350px;
}
.b4{
    bottom: 450px;
}
.b5{
    bottom: 550px;
}




.bar-label{
    display:flex;
    position:absolute;
    margin-top:50px;
    justify-content: center;
    align-items: center;
    text-align:center;
    overflow:hidden;
    word-wrap: break-word;
    width:96px;
    height:50px;
    border-top: 2px solid orange;
    color: ghostwhite;
}

.bar-label-red{
    color: red;
}

.stats-chart-buttons-container{
    position:absolute;
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    z-index:1;
    width:98%;
    margin-left:calc(.9%);
    border:1px solid lightgreen;
}

.stats-chart-buttons-container button{
    margin:0px;
    min-width: auto;
    flex-grow: 1;
    height:95px;
    border-radius:0px;
    
}

.dark-background{
    position:absolute;
    display: flex;
    background-color: rgba(1,1,1,.8);
    width:100%;
    height:150%;
    left: 0;
    top:0;
}
