p{
    display:flex;
    font-weight:bold;
    justify-content: center;
}

input{
    width:40%;
    text-align: center;
}

.workout-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
/* .preview-buttons-container{
   
    height:auto;
    width:auto; 
    display: grid;
    justify-content: center;
    align-items:center;
    
    grid-template-columns: repeat(2,auto);
 }
  .preview-buttons-container button{
    min-width: 100px;
 } */

.workout-buttons-container{
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

 .creation-page button{
    min-width:10px;
    width:110px;
}


button{
    border: none;
    border-radius: 5px;
    margin: 15px;
    min-height: 80px;
    min-width: 200px;
    transition: box-shadow 1400ms, font-size 400ms ease-in-out;
    background-color: ghostwhite;
    background-image: linear-gradient(90deg, rgb(150, 16, 16), darkorange);
    box-shadow: 0px 0px 0px 2px lightgreen;
    font-weight:bold;
    font-size: 18px;
    overflow:hidden;
    color: ghostwhite;
}

button:hover{
    background-color: darkgreen;
    background-image: linear-gradient(-90deg, rgb(202, 39, 39), rgb(247, 165, 66));
    box-shadow: 0px 0px 0px 4px lightgreen;
    color:ghostwhite;
    font-size: 22px;
    cursor: pointer;
}

.bigger-text{
    font-size: 18px;
    color:ghostwhite;
    
}

.rounded-big-input{
    border-radius: 5px;
    min-height: 20px;
    font-size: 16px;
    font-weight: bold;
    color:black;
}


