

.save-load-container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    min-width: 100%;
    min-height:100%;
    justify-content:center;
    align-items:center;
    background-color: rgb(35, 59, 35);
}

.save-load-inner{
    margin-top:100px;
    display: grid;
    
    grid-template-columns: repeat(5,250px);
    width: 100%;
    justify-content:center;
    align-items:center;
}

.workout-name-input{
    grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 0;
  grid-row-end: 1;
  margin-top:10px;
  display:flex;
  width:auto;
  height:40px;
  border-radius:10px;
  font-size:16px;
  font-weight: bolder;
  justify-content:center;
  align-items:center;
}